extends layout

block content
  div(class='content')
    img.logo(src='/images/logo.png', alt='wodmatic-logo')

    form.form-wodmatic(action="/login", method="post")
      h2.wodmatic-subtitle Step 1 - Pick your favourite wod type(s)
      label.wodmatic-label.checkbox-inline.
       <input type="checkbox" value="remember-me" /> Strength
      label.wodmatic-label.checkbox-inline.
       <input type="checkbox" value="remember-me" /> Conditioning
      label.wodmatic-label.checkbox-inline.
       <input type="checkbox" value="remember-me" /> Gymnastics

      h2.wodmatic-subtitle Step 2 - Enter your email address
      input.wodmatic-email.form-control(type='email', placeholder='Enter email')

     button.btn.btn-large.btn-primary.send-button(type="submit") Send me some WODs!
