<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Your Workout Today - Wodmatic</title>

</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
      <table>
        <tr>
          <td align="center">
            <img style="width: 400px; margin: 0 auto;" src="https://wodmatic.herokuapp.com/images/logo.png"/>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Hello!</h1>
            <h3>Your workout of the day today is from <strong><%= site %></strong></h3>
            <h1>The Workout</h1>
            <h3><%- content %></h3>

            <h3>Have a good workout!</h3>
            <h3>Thank you for using wodmatic</h3>
            <p><a href="http://twitter.com/leemunroe">Follow @wodmatic on Twitter</a></p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->
      
    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      
      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>Don't like these annoying emails? <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.
              </p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->
      
    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->

</body>
</html>
